<head>
  <link rel="stylesheet" href="global.css">
</head>


<div id ="nav">
<nav>
  <button type="button"><a href="/">Homepage</a></button>
  <button type="button"><a href="/homepage/index">Library</a></button>
  <button type="button"><a href="/homepage/new">Create a bottle</a></button>
  <button id = 'gmailbutton' type ="button"><a href="https://mail.google.com"> Gmail </a></button>
  <!-- <button onclick = "darkMode()"> Dark Mode </button> -->
</nav>
</div>

<h1>Message in a Bottle</h1>
