<h1>Message in a Bottle</h1>

<nav>
  <button type="button"><a href="/homepage">Homepage</a></button>
  <button type="button"><a href="/homepage/index">Library</a></button>
  <button type="button"><a href="/homepage/new">Create a bottle</a></button>
  
</nav>
