<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Bottle</title>
    <link rel="stylesheet" href="/global.css">
  </head>
  <header>
    <%- include('../partials/header') %>
  </header>
  <body>
    <h1>Add to Quotes</h1>
      <form action="/homepage/index" method="POST">
        <h6>Put your quote in here. (items with * are required)</h6>
        *Quote*: <input type="text" name="quote" placeholder='Your quote here'/><br/>
        Who: <input type="text" name="who" placeholder='Who said it'/><br/>
        When: <input type="text" name="when" placeholder='When was it said'/><br/>
        Where: <input type="text" name="where" placeholder='Where was it said'/><br/>
          <input type="submit" value="Create Homepage"/>
      </form>


  </body>
</html>
