body {
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Bebas Neue', cursive;
}

p {
  font-family: 'Barlow Condensed', sans-serif;
}

h4 {
  font-family: 'Barlow Condensed', sans-serif;
}

#nav {
  background-color: RGB(199, 183, 183, .2);
  width: 100%;
  top: 0px;
  left: 0px;
}

#quote {
  border: 5px white solid;
  width: 80%;
  margin-left: 10%;
  font-size: 50px;
}

#library {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  border: 5px white solid;
}

#googlebar {
  border: 5px white solid;
  background-color: black;
  width: 80%;
  margin-left: 10%;
  height: 40px;
  margin-right: 10%;
  padding: 15px;
  color: black;
}

.trheader {
  border: 5px white solid;
  padding: 10px;
}

.button {
  background-color: #e7e7e7; color: black;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: 2px solid RGB(70, 190, 227);
  margin: 5px;
}

.button:hover {
  background-color: gray;
  color: white;
}


a:link {
  color: black;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}

.input {
  text-align: right;
  display: inline-block;
  float: left;
  clear: left;
  width: 60%;
}
