body {
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
}

nav {

}

#nav {
  background-color: RGB(199, 183, 183, .2);
  width: 100%;
  top: 0px;
}

#quote {
  border: 5px white solid;
  width: 80%;
  margin-left: 10%;
}

#wherewhen {

}



header {

}

table {
  text-align: center;
  border: 5px black solid;
}

div {

}

form {

}

#googlebar {
  border: 5px RGB(70, 190, 227) solid;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  height: 75px;
}

.trheader {
  border: 5px black solid;
  padding: 10px;
}

tr {
  border: 2px black solid;
  padding: 10px;
}

#gmailbutton {
  margin-bottom: 20px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}
